JWT_SECRET=your_jwt_secret_here
DB_USER=your_db_user
DB_HOST=localhost
DB_DATABASE=collabflow
DB_PASSWORD=your_db_password
DB_PORT=5432

DATABASE_URL=your_supabase_connection_string_here
FRONTEND_URL=https://your-vercel-url.vercel.app
